# 2023 Project

You have to work on the [ZTBus: A Large Dataset of Time-Resolved City Bus Driving Missions](https://www.research-collection.ethz.ch/handle/20.500.11850/626723) repository.

It contains:
*  [metaData.csv](https://www.research-collection.ethz.ch/bitstream/handle/20.500.11850/626723/metaData.csv?sequence=1&isAllowed=y), shortly *trips*
*  several other files containing detailed data on some bus parameters, whose name is in the *trips* file. Those files can be downloaded as a [zip file](https://www.research-collection.ethz.ch/bitstream/handle/20.500.11850/626723/ZTBus_compressed.zip?sequence=3&isAllowed=y). Let us call those datasets the *details* datasets.

### Notes

1.    It is mandatory to use GitHub for developing the project.
1.    The project must be a jupyter notebook.
1.    There is no restriction on the libraries that can be used, nor on the Python version.
1.    All questions on the project **must** be asked in a public channel on [Zulip](https://focs.zulipchat.com).
1.    At most 3 students can be in each group. You must create the groups by yourself. You can use the Zulip channel to create the groups.
1.    You do not have to send me the project *before* the discussion.

In [2]:
import pandas as pd
import os

In [3]:
PATH = "./data/ZTBus_samples/"

In [4]:
def merge_files_in_df(path: str):
    ''' - takes in a folder path containing a list of csv.files with same schema
        - reads and merges the files into a single pd.Dataframe object
        '''
    
    dir = os.listdir(path)
    output_df = pd.DataFrame()

    for file in dir:
        df = pd.read_csv(f'{path}{file}')
        df["busNumber"] = file[1:4] # extract bus number from file name to allow linkings with the trips dataframe
        df["missionDate"] = file[5:15] # extract mission date from file name to allow linkings with the trips dataframe
        print(file[16:])
        df["startMissionTime"] = file[15] # extract mission date from file name to allow linkings with the trips dataframe

        output_df = pd.concat([output_df, df])

    return output_df

In [5]:
trips = pd.read_csv(r'data\metaData.csv')
details = merge_files_in_df(PATH)

03-16-13_2019-06-24_18-54-06.csv
03-04-41_2020-07-19_21-04-28.csv
03-53-27_2021-07-26_07-18-47.csv
13-53-20_2021-10-05_18-14-53.csv
04-09-18_2021-05-27_18-21-41.csv
05-59-40_2021-09-25_18-15-31.csv
05-30-37_2022-07-16_18-19-51.csv
03-26-03_2022-10-09_22-56-13.csv
03-25-19_2022-10-26_23-02-09.csv
04-47-53_2022-11-30_19-50-22.csv

In [6]:
trips.head()

,name,busNumber,startTime_iso,startTime_unix,endTime_iso,endTime_unix,drivenDistance,busRoute,energyConsumption,itcs_numberOfPassengers_mean,itcs_numberOfPassengers_min,itcs_numberOfPassengers_max,status_gridIsAvailable_mean,temperature_ambient_mean,temperature_ambient_min,temperature_ambient_max
0,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183,2019-04-30T03:18:56Z,1556594336,2019-04-30T08:44:20Z,1556613860,77213.87,-,4.785852e+08,5.538860,0,20,0.740640,282.3780,281.15,293.15
1,B183_2019-04-30_13-22-07_2019-04-30_17-54-02,183,2019-04-30T13:22:07Z,1556630527,2019-04-30T17:54:02Z,1556646842,59029.60,31,4.022585e+08,33.114580,4,74,0.855234,287.5443,285.15,293.15
2,B183_2019-05-01_05-58-51_2019-05-01_22-32-30,183,2019-05-01T05:58:51Z,1556690331,2019-05-01T22:32:30Z,1556749950,240900.40,33,1.445733e+09,19.689140,0,55,0.777860,288.7490,280.15,294.15
3,B183_2019-05-03_02-50-21_2019-05-03_05-53-20,183,2019-05-03T02:50:21Z,1556851821,2019-05-03T05:53:20Z,1556862800,42565.48,-,2.819867e+08,1.685185,0,8,0.767122,282.4129,281.15,292.15
4,B183_2019-05-03_15-41-57_2019-05-03_23-06-24,183,2019-05-03T15:41:57Z,1556898117,2019-05-03T23:06:24Z,1556924784,125277.20,72,6.207258e+08,23.753570,1,67,0.907342,284.7325,282.15,287.15

### 1. Extract all trips with `busRoute` 83

In [7]:
route_83 = trips[trips["busRoute"] == "83"]
route_83.head()

,name,busNumber,startTime_iso,startTime_unix,endTime_iso,endTime_unix,drivenDistance,busRoute,energyConsumption,itcs_numberOfPassengers_mean,itcs_numberOfPassengers_min,itcs_numberOfPassengers_max,status_gridIsAvailable_mean,temperature_ambient_mean,temperature_ambient_min,temperature_ambient_max
154,B183_2020-03-03_04-42-38_2020-03-03_19-44-51,183,2020-03-03T04:42:38Z,1583210558,2020-03-03T19:44:51Z,1583264691,225047.90,83,1.544278e+09,23.47531,0,118,0.472180,280.5450,279.15,289.15
155,B183_2020-03-06_04-53-23_2020-03-06_19-44-42,183,2020-03-06T04:53:23Z,1583470403,2020-03-06T19:44:42Z,1583523882,224512.30,83,1.631816e+09,17.41578,0,69,0.451028,279.8850,278.15,289.15
157,B183_2020-03-09_14-16-13_2020-03-09_19-34-17,183,2020-03-09T14:16:13Z,1583763373,2020-03-09T19:34:17Z,1583782457,77824.36,83,5.406013e+08,23.18182,0,74,0.460099,281.0489,279.15,291.15
158,B183_2020-03-10_04-50-03_2020-03-10_19-51-25,183,2020-03-10T04:50:03Z,1583815803,2020-03-10T19:51:25Z,1583869885,225095.80,83,1.692171e+09,20.96410,0,86,0.475233,279.8363,279.15,291.15
159,B183_2020-03-12_04-56-41_2020-03-12_19-44-57,183,2020-03-12T04:56:41Z,1583989001,2020-03-12T19:44:57Z,1584042297,224181.20,83,1.145860e+09,17.21235,0,80,0.340882,287.3445,282.15,291.15

In [8]:
def data_check(df):

    print(f' NAs : \n {df.isna().sum()} \n')
    print(f'Duplicated rows \n {len(df[df.duplicated()])} \n')

    pd.reset_option('display.max_rows')
    pd.reset_option('display.max_columns')


    if len(df[df.duplicated()]) > 0:
        df.drop_duplicates(inplace=True)

In [9]:
data_check(details)

 NAs :
 time_iso                           0
time_unix                          0
electric_powerDemand               0
gnss_altitude                   2883
gnss_course                     2868
gnss_latitude                   2868
gnss_longitude                  2868
itcs_busRoute                      0
itcs_numberOfPassengers       480972
itcs_stopName                      0
odometry_articulationAngle         0
odometry_steeringAngle             0
odometry_vehicleSpeed              0
odometry_wheelSpeed_fl             0
odometry_wheelSpeed_fr             0
odometry_wheelSpeed_ml             0
odometry_wheelSpeed_mr             0
odometry_wheelSpeed_rl             0
odometry_wheelSpeed_rr             0
status_doorIsOpen                  3
status_gridIsAvailable             3
status_haltBrakeIsActive           3
status_parkBrakeIsActive           3
temperature_ambient                2
traction_brakePressure             0
traction_tractionForce             0
busNumber                          0
missionDate                        0
startMissionTime                   0
dtype: int64

Duplicated rows
 0

In [10]:
details.columns

Index(['time_iso', 'time_unix', 'electric_powerDemand', 'gnss_altitude',
       'gnss_course', 'gnss_latitude', 'gnss_longitude', 'itcs_busRoute',
       'itcs_numberOfPassengers', 'itcs_stopName',
       'odometry_articulationAngle', 'odometry_steeringAngle',
       'odometry_vehicleSpeed', 'odometry_wheelSpeed_fl',
       'odometry_wheelSpeed_fr', 'odometry_wheelSpeed_ml',
       'odometry_wheelSpeed_mr', 'odometry_wheelSpeed_rl',
       'odometry_wheelSpeed_rr', 'status_doorIsOpen', 'status_gridIsAvailable',
       'status_haltBrakeIsActive', 'status_parkBrakeIsActive',
       'temperature_ambient', 'traction_brakePressure',
       'traction_tractionForce', 'busNumber', 'missionDate',
       'startMissionTime'],
      dtype='object')

### 2. Extract all trips where `busRoute` is not a number

In [11]:
routes_na = trips[trips["busRoute"].apply(lambda x: x.isnumeric() == False)]
routes_na.head()

,name,busNumber,startTime_iso,startTime_unix,endTime_iso,endTime_unix,drivenDistance,busRoute,energyConsumption,itcs_numberOfPassengers_mean,itcs_numberOfPassengers_min,itcs_numberOfPassengers_max,status_gridIsAvailable_mean,temperature_ambient_mean,temperature_ambient_min,temperature_ambient_max
0,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183,2019-04-30T03:18:56Z,1556594336,2019-04-30T08:44:20Z,1556613860,77213.87,-,4.785852e+08,5.538860,0,20,0.740640,282.3780,281.15,293.15
3,B183_2019-05-03_02-50-21_2019-05-03_05-53-20,183,2019-05-03T02:50:21Z,1556851821,2019-05-03T05:53:20Z,1556862800,42565.48,-,2.819867e+08,1.685185,0,8,0.767122,282.4129,281.15,292.15
9,B183_2019-05-10_03-16-11_2019-05-10_18-51-37,183,2019-05-10T03:16:11Z,1557458171,2019-05-10T18:51:37Z,1557514297,210577.00,-,1.303391e+09,8.230483,0,43,0.740927,287.5623,282.15,293.15
10,B183_2019-05-13_03-10-23_2019-05-13_23-16-13,183,2019-05-13T03:10:23Z,1557717023,2019-05-13T23:16:13Z,1557789373,267033.80,-,1.647432e+09,7.891652,0,45,0.804191,284.6764,280.15,293.15
19,B183_2019-05-24_02-52-47_2019-05-24_22-35-11,183,2019-05-24T02:52:47Z,1558666367,2019-05-24T22:35:11Z,1558737311,263432.60,-,1.448057e+09,7.520249,0,44,0.761068,293.1440,283.15,299.15

### 3. For each (busNumber, busRoute) pair, determine the number of trips

In [12]:
trips_grouped = trips.groupby(["busNumber", "busRoute"])["name"].count()
trips_grouped

busNumber  busRoute
183        -            11
           31           12
           32           12
           33          130
           46          104
           72          114
           83          441
           N1           10
           N2           19
           N4           11
208        31            5
           32           14
           33           25
           46           19
           72           44
           83          405
           N1            6
           N2           20
           N4            7
Name: name, dtype: int64

NOTE: "-" busRoute value means NA, we can drop it

### 4. For each trip, compute the ratio between the energy consumption and the average number of passengers

In [13]:
print(len(trips["name"].unique()))
print(trips.shape)

1409
(1409, 16)

In [14]:
ratio = round(trips["energyConsumption"] / trips["itcs_numberOfPassengers_mean"])
ratio.head()

0     86405000.0
1     12147474.0
2     73427940.0
3    167332785.0
4     26131895.0
dtype: float64

### 5. For each station (`itcs_stopName`), determine the average number of passengers.

In [15]:
n_passengers_by_station = round(details.groupby("itcs_stopName")["itcs_numberOfPassengers"].mean())
n_passengers_by_station.head()

itcs_stopName
-                              NaN
Zürich, Albisrank             18.0
Zürich, Albisriederplatz      27.0
Zürich, Altes Krematorium     22.0
Zürich, Bahnhof Altstetten    10.0
Name: itcs_numberOfPassengers, dtype: float64

Rows without itcs_stopName as NA also don't have pass count

### 6. For each station, determine the buses that have stopped there at least once.

In [16]:
details_stop_count = details.groupby(["itcs_stopName", "busNumber"]).size().reset_index(name="stop_count")

In [17]:
details_stop_count[details_stop_count["stop_count"] >= 1]

                      itcs_stopName busNumber  stop_count
0                                 -       183      147624
1                                 -       208      333348
2                 Zürich, Albisrank       183          14
3                 Zürich, Albisrank       208          77
4          Zürich, Albisriederplatz       183          36
..                              ...       ...         ...
121  Zürich, Waffenplatz-/Bederstr.       208          23
122      Zürich, Waffenplatzstrasse       208          48
123         Zürich, Wildbachstrasse       183          58
124         Zürich, Wildbachstrasse       208          26
125             Zürich, Zwinglihaus       208          48

[126 rows x 3 columns]

### 7. For each station, determine the buses that have stopped there at least ten times.

In [18]:
details_stop_count[details_stop_count["stop_count"] >= 10]

                      itcs_stopName busNumber  stop_count
0                                 -       183      147624
1                                 -       208      333348
2                 Zürich, Albisrank       183          14
3                 Zürich, Albisrank       208          77
4          Zürich, Albisriederplatz       183          36
..                              ...       ...         ...
121  Zürich, Waffenplatz-/Bederstr.       208          23
122      Zürich, Waffenplatzstrasse       208          48
123         Zürich, Wildbachstrasse       183          58
124         Zürich, Wildbachstrasse       208          26
125             Zürich, Zwinglihaus       208          48

[102 rows x 3 columns]

### 9. For each (route, bus) pair, compute the ratio between the overall energy consumption and the overall driven distance.

In [19]:
trips_grouped = trips.groupby(["busNumber", "busRoute"])
energy_distance_ratio = (trips_grouped["energyConsumption"].sum() / trips_grouped["drivenDistance"].sum()).reset_index(name="ratio")
energy_distance_ratio.head()

   busNumber busRoute        ratio
0        183        -  6230.233181
1        183       31  6086.891785
2        183       32  6174.585331
3        183       33  5970.747507
4        183       46  5631.035959

### 10. Starting from the results of the previous point, for each route compute the buses with max and min energy ratio, and save the difference between these ratios in a dataframe.

In [20]:
max_idx = energy_distance_ratio.groupby("busRoute")["ratio"].idxmax()
min_idx = energy_distance_ratio.groupby("busRoute")["ratio"].idxmin()

In [21]:
max_bus = energy_distance_ratio.loc[max_idx].reset_index()
(max_bus["ratio"])

0    6230.233181
1    6086.891785
2    6174.585331
3    5970.747507
4    5631.035959
5    5899.029643
6    5844.977154
7    5980.920966
8    5701.850332
9    6154.986937
Name: ratio, dtype: float64

In [22]:
min_bus = energy_distance_ratio.loc[min_idx].reset_index()
(min_bus["ratio"])

0    6230.233181
1    5290.862713
2    5491.247671
3    5639.244537
4    5583.110707
5    5410.318878
6    5819.638891
7    5640.061883
8    5405.152963
9    6067.190112
Name: ratio, dtype: float64

In [23]:
energy_distance_ratio["ratio_diff"] = max_bus["ratio"] - min_bus["ratio"]
energy_distance_ratio

    busNumber busRoute        ratio  ratio_diff
0         183        -  6230.233181    0.000000
1         183       31  6086.891785  796.029072
2         183       32  6174.585331  683.337660
3         183       33  5970.747507  331.502969
4         183       46  5631.035959   47.925252
5         183       72  5899.029643  488.710765
6         183       83  5844.977154   25.338263
7         183       N1  5980.920966  340.859083
8         183       N2  5701.850332  296.697369
9         183       N4  6154.986937   87.796825
10        208       31  5290.862713         NaN
11        208       32  5491.247671         NaN
12        208       33  5639.244537         NaN
13        208       46  5583.110707         NaN
14        208       72  5410.318878         NaN
15        208       83  5819.638891         NaN
16        208       N1  5640.061883         NaN
17        208       N2  5405.152963         NaN
18        208       N4  6067.190112         NaN

### 11. Find the bus maximizing the difference computed in the previous point.

In [24]:
max_diff_idx = abs(energy_distance_ratio["ratio_diff"]).idxmax()
energy_distance_ratio.loc[max_diff_idx][["busNumber", "busRoute"]]

busNumber    183
busRoute      31
Name: 1, dtype: object

### 12. Extract the rows of the details such that the `gnss_altitude` differs from the value in the preceding row. Store also the difference in the variable `altitude_variation`.

In [25]:
details["altitude_variation"] = details["gnss_altitude"].diff()
diff_details_trips = details[details["altitude_variation"] != 0].reset_index()
diff_details_trips = diff_details_trips.dropna().reset_index()

### 13. For each details dataset, compute the sum of the absolute value (i.e. the sign is not considered) of `altitude_variation`.

In [26]:
diff_details_trips["altitude_variation"].head()

0    0.0979
1    0.2986
2   -0.0246
3    0.0049
4    0.3038
Name: altitude_variation, dtype: float64

In [27]:
def calc_sum_abs_variation(df):
    return df.groupby(["missionDate", "busNumber"])["altitude_variation"].apply(lambda x: x.abs().sum()).reset_index()

### 14.  For each month of the year, compute the average ambient temperature

In [28]:
details["time_iso"] = pd.to_datetime(details["time_iso"])
details["month"] = details["time_iso"].dt.month
details["year"] = details["time_iso"].dt.year

details_trips_month = details.groupby(["year", "month"])["temperature_ambient"].mean()
details_trips_month

year  month
2019  6        299.968397
2020  7        297.107453
2021  5        287.819472
      7        292.460708
      9        295.668297
      10       289.159768
2022  7        301.345118
      10       289.700618
      11       280.660145
Name: temperature_ambient, dtype: float64

### 15. For each bus compute the total time when the halt brake is active and the total time when the park brake is active. Compute also the ratio between those two times.

In [29]:
def brake_time(df, brake_type):
    df = df.sort_values(by=["busNumber", "missionDate", "time_unix"])
    df["time_diff"] = df.groupby(["busNumber", "missionDate"])["time_unix"].diff()
    df["time_diff"] = df['time_diff'].fillna(0)

    brake_rows = df[df[brake_type] == 1]
    
    df_grouped = brake_rows.groupby(["busNumber"])["time_diff"].sum()

    return df_grouped

In [30]:
halt_time = brake_time(details, "status_haltBrakeIsActive")

In [31]:
stop_time = brake_time(details, "status_parkBrakeIsActive")

In [35]:
brake_ratio = halt_time / stop_time
brake_ratio

busNumber
183    1.662894
208    2.948551
Name: time_diff, dtype: float64

### 16. For each pair of stops that are consecutive in some trip, compute the average speed achieved when going from the first to the second stop.

In [117]:
def avg_speed_by_stop(df):
    df = df.sort_values(by=["busNumber", "missionDate", "time_unix"])
    mean_speed = df.groupby(["busNumber", "missionDate", "itcs_stopName"])["odometry_vehicleSpeed"].mean()

    return mean_speed
    
avg_speed_by_stop(details)

busNumber  missionDate  itcs_stopName
183        2019-06-24   -                                3.675764
                        Zürich, Albisriederplatz         0.159337
                        Zürich, Bahnhof Hardbrücke       0.044404
                        Zürich, Bahnhof Tiefenbrunnen    0.049395
                        Zürich, Bahnhof Wipkingen        0.019897
                                                           ...
208        2022-11-30   Zürich, Letzipark West           0.467673
                        Zürich, Milchbuck                0.348732
                        Zürich, Rosengartenstrasse       0.453848
                        Zürich, SBB-Werkstätte           1.110108
                        Zürich, Schiffbau                0.388733
Name: odometry_vehicleSpeed, Length: 288, dtype: float64